.home-container {
    grid-template-columns: 4.75fr 7.25fr;
    align-items: center;
    gap: 2rem clamp(2rem, -22.6531rem + 32.6531vw, 10rem);
    padding: 2.5rem;
    min-height: 100vh;
    margin: 5rem;
}

.home-img {
    /*min-height: calc(100vh - 5rem);*/
    border-radius: 50%;
    border: 0.1rem solid var(--first-color);
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    z-index: 10;
}

/*
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  
    text-align: left;
   
    min-height: 100vh;

    padding: 2rem;
}*/

/*
.home-container {
    margin: 5rem;
    align-items: center;
    padding-left: 2rem;
    min-height: 100vh;
}*/

.home-title {
    font-size: var(--h1-font-size);
    position: relative;
}

.home-title span {
    color: var(--first-color);
}

.home-title::before {
    content: '';
    position: absolute;
    top: 2%;
    left: 0;
    width: 40px;
    border-radius: 0.5rem;
    background-color: var(--first-color);
}

.home-description {
    line-height: 1.75;
    max-width: 600px;
    margin-block: 1.5rem 2.5rem;
}

/*
.color-block {
    position: fixed;
    width: 30%;
    height: 150%;
    background-color: var(--first-color);
    transform: rotate(-16deg);
    top: -12%;
    left: -12%;
}*/

.button-download {
    margin-left: 1rem;
}